*.vsidx
*.suo
*.wsuo
*.sqlite
*.json
*.sln
*.config
*.exe
*.pdb
*.csproj
*.cache
*.txt
*.dll
*.xml
*.CopyComplete
*.p7s
*.nupkg
AssemblyInfo.cs
ConsoleApp1/ConsoleApp1/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ConsoleApp1/ConsoleApp1/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ConsoleApp2/ConsoleApp2/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ConsoleApp4/ConsoleApp4/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ConsoleApp5/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
